$custom-color: #989898;

.search-movie{
    border: 1px solid $custom-color;
    border-radius: 5px;
    padding: 15px 10px;
    margin-top: 20px;
    box-shadow: -1px 4px 11px -3px rgba(0,0,0,0.75);
    margin-right: 8px;
    form{
        width: 100%;
    }
    input:focus{
        outline: none;
        box-shadow: none;
        border-color: $custom-color;
    }
}

@media (max-width: 991.98px) {
    .search-movie{
        margin: 10px 20px;
    }
}